body{
    background-color: rgb(93, 93, 104);
}
p{
    color: red;
}
h1{
    color: red;
    background-color: aliceblue;
}
h2{
    color: red;
}
.h2diferente{
    color: blue;
}
a{
    color: blue;
}
#intentoid{
    color: green;
}
.pdiferente{
    color: green;
}